RewriteEngine On

# Verifique se o arquivo ou diretório real existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona todas as requisições para o index.php
RewriteRule ^(.*)$ index.php [QSA,L]
